# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
*.pem
.DS_Store
.vscode/

# debug
npm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
test-results/
playwright-report/

# Python
src/python/.venv/
src/python/src/*.egg-info/
src/python/build/
*.whl
__pycache__/
*.pyc
